[Desktop Entry]
Type=Application
Name=disco - retro terminal screensaver effect
Comment=Screensaver effect: disco
Exec=disco
Icon=disco
Terminal=false
Categories=Screensaver;
